<h1>Create a new pizza</h1>

<form action="/pizzas" method="post">
  <p>
    Pizza Type:
    <input type="text" name="type" />
  </p>

  <p>
    Pizza Size:
    <input type="text" name="size" />
  </p>

  <p>
    <input type="submit" />
  </p>
</form>


